<footer class="footer-bar">
  <div class="footer-content">
    <span>© 2026 Artikla</span>
    <nav class="footer-nav">
      <button routerLink="/new" class="footer-link">Créer un article</button>
      <button routerLink="/" class="footer-link">Actualités</button>
      <button routerLink="/privacy" class="footer-link">Privacy</button>
      <button routerLink="/terms" class="footer-link">Terms</button>
      <button routerLink="/contact" class="footer-link">Contact</button>
    </nav>
  </div>
</footer>
