@for (comment of commentaires; track comment.id) {
  <div class="cs-item">
    <div
      class="cs-avatar"
      [style.background]="getRandomBackgroundColor().background"
      [style.border]="'2px solid ' + getRandomBackgroundColor().border"
    >
      {{ getAvatarInitials(comment.author!) || 'UA' }}
    </div>
    <div class="cs-body">
      <p class="cs-name">{{ comment.author || 'Utilisateur inconnu' }}</p>
      <p class="cs-text">
        {{ comment.content }}
      </p>
      <div class="cs-meta">
        <span class="cs-date">📅 {{ getCreatedAtFormatted(comment.createdAt) }}</span>
      </div>
    </div>
  </div>
}

@if (commentaires.length === 0) {
  <p class="no-comments">Aucun commentaire pour le moment. Soyez le premier à commenter !</p>
}


  <!-- ajout commentaire section -->
  <div class="cf-wrap">
    <div class="cf-row">
      <div
        class="cf-avatar"
        [style.background]="myAvatarBackground"
        [style.border]="'2px solid ' + myAvatarBorder"
      >
        {{ getAvatarInitials(user) || 'UA' }}
      </div>
      <div class="cf-box" [class.focused]="isFocused">
        <textarea
          [(ngModel)]="commentText"
          [maxlength]="maxLength"
          placeholder="Écrire un commentaire…"
          (focus)="isFocused = true"
          (blur)="isFocused = false"
        ></textarea>
        <div class="cf-footer">
          <span
            class="cf-count"
            [class.warn]="remaining <= 50"
            [class.over]="remaining <= 0"
          >
            {{ remaining }}
          </span>
          <div class="cf-actions">
            <button class="cf-cancel" (click)="reset()">Annuler</button>
            @if (!loading) {
              <button
                class="cf-submit"
                [disabled]="!commentText.trim()"
                (click)="submit()"
              >
                Publier
              </button>
            } @else {
              <button
                class="cf-submit"
              >
                ...
              </button>
            }
          </div>
        </div>
      </div>
    </div>
    <p>Vous commentez en tant que <span class="name">{{ user }}</span> ( <span class="update-name" (click)="showPopup = true"> Modifier</span> )</p>
  </div>

@if (showToast) {
  <app-toast [message]="message" (closed)="showToast = false"/>
}

@if (showPopup) {
  <app-popup [username]="user" (closed)="showPopup = false" (saved)="updateUsername($event)"/>
}